<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517103915494-c2b5rti7ng55e4t83e4r8mh5ah1907j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517103915494-c2b5rti7ng55e4t83e4r8mh5ah1907j9</string>
	<key>API_KEY</key>
	<string>AIzaSyATW_Fwftjtqdf_ql3rXBx4R23jlPQmGQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>517103915494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myApp.BachelorProject.SecureApp</string>
	<key>PROJECT_ID</key>
	<string>fir-9df78</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-9df78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517103915494:ios:bb104bcb43f3cab270c627</string>
</dict>
</plist>