<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135639547709-5t7baccon9kigg9ultur66anc77slq9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135639547709-5t7baccon9kigg9ultur66anc77slq9j</string>
	<key>API_KEY</key>
	<string>AIzaSyDnqeTx8H4JSv6pFX3HTfBsKY5vYZsRfwU</string>
	<key>GCM_SENDER_ID</key>
	<string>135639547709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myApp.BachelorProject.SecureApp</string>
	<key>PROJECT_ID</key>
	<string>help-me-2e3fa</string>
	<key>STORAGE_BUCKET</key>
	<string>help-me-2e3fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135639547709:ios:b00949a41ed93b957bcf54</string>
	<key>DATABASE_URL</key>
	<string>https://help-me-2e3fa-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>